body{
    background-color: skyblue;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
}
#centerFlowContainer{
    position: absolute;
    left: 35%;
    top: 20%;
    gap: 100px;
    background-color: silver;
    border-radius: 10px;
    border: solid 2px aquamarine;
    padding: 25px;
}
#logInBox{
    padding: 50px;
    border: solid 2px silver;
    background-color: aquamarine;
}
#welcomeMessage{
    background-color: aquamarine;
    padding: 25px;
    border: solid 2px silver;
}
#logInBox button{
    margin-top: 60px;
    font-size: 1.3em;
    background-color: skyblue;
    color: white;
    padding: 10px;
}
.logInInput{
    padding: 10px;
    background-color: skyblue;
    font-size: 0.9em;
    margin-top: 20px;
}