body{
    background-color: skyblue;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    margin: 0;
}
#centerFlowContainer{
    background-color: skyblue;
    width: 100vw;
    position: absolute;
    top: 5%;
}
#logInBox{
    padding: 50px;
    width: fit-content;
    border: solid 2px silver;
    background-color: aquamarine;
    border-radius: 10px;
    position: relative;
    left: 33%;
}
#welcomeMessage{
    background-color: aquamarine;
    padding: 25px;
    border: solid 2px silver;
    width: fit-content;
    position: relative;
    left: 33%;
}
#logInBox button{
    margin-top: 60px;
    font-size: 1.3em;
    background-color: skyblue;
    color: white;
    padding: 10px;
}
.logInInput{
    padding: 10px;
    background-color: skyblue;
    font-size: 0.9em;
    margin-top: 20px;
}