body{
    background-color: skyblue;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    margin: 0;
}
#centerFlowContainer{
    background-color: silver;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
#logInBox{
    padding: 50px;
    border: solid 2px silver;
    background-color: aquamarine;
}
#welcomeMessage{
    background-color: aquamarine;
    padding: 25px;
    border: solid 2px silver;
}
#logInBox button{
    margin-top: 60px;
    font-size: 1.3em;
    background-color: skyblue;
    color: white;
    padding: 10px;
}
.logInInput{
    padding: 10px;
    background-color: skyblue;
    font-size: 0.9em;
    margin-top: 20px;
}