#nav{
    background-color: aquamarine;
    color: white;
    position: absolute;
    top: 5%;
    width: 90vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
}