@font-face {
    font-family: 'font2';
    src: url('font2.ttf');
}
body{
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    font-family: 'font2';
}
#profileContainer{
    border: solid 2px silver;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    padding: 40px;
    gap: 20px;
    background-color: darkred;
    color: silver;
}
h1{
background-color: darkred;
color: silver;
padding: 10px;
border-radius: 5px;
}