@font-face {
    font-family: 'font2';
    src: url('font2.ttf');
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 204);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'font2';
    margin-top: 5%;
    font-size: 1.3em;
}
#registerForm{
    background-color: darkslategrey;
    color: rgb(0, 255, 204);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}
#registerForm button{
    background-color: rgb(0, 255, 204);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
}