body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#title {
    background-color: black;
    padding: 40px;
    border: solid 2px cyan;
    width: fit-content;
    font-style: italic;
    color: white;
    border-radius: 20px;
}

#controls{
    background-color: black;
    padding: 80px;
    border: solid 2px cyan;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    flex-direction: column;
}

#controls button{
    background-color: black;
    color: cyan;
    border: solid 2px cyan;
    border-radius: 20px;
    padding: 10px;
}

#centerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the two boxes */
}
#serverBox {
    background-color: black;
    width: 200px;
    height: 100px;
    color: cyan;
    border: solid 2px cyan;
    padding: 20px;
    margin-top: 20px;
}