body {
    background-color: black;
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    background-color: grey;
    padding: 20px;
    border: solid 2px white;
    width: fit-content;
    font-style: italic;
    color: cyan;
}

#controls{
    background-color: grey;
    padding: 20px;
    border: solid 2px cyan;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls button{
    background-color: cyan;
    color: white;
    border: solid 1px white;
}

#centerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the two boxes */
}