body {
    background-color: skyblue;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    background-color: black;
    padding: 40px;
    border: solid 3px cyan;
    width: fit-content;
    font-style: italic;
    color: aquamarine;
    border-radius: 10px;
}

#controls{
    background-color: black;
    padding: 60px;
    border: solid 3px cyan;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    color: aquamarine;
    font-size: 1.4em;
}

#controls button{
    background-color: aquamarine;
    color: black;
    border: solid 3px cyan;
    border-radius: 10px;
    padding: 10px;
}

#centerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the two boxes */
}
#serverBox {
    background-color: black;
    width: 200px;
    height: 100px;
    color: aquamarine;
    border: solid 3px cyan;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.4em;

}